


<div id="about">

  <h1>The World’s First-Ever Go-Show!</h1>

  <h2 id="probablyWondering">You’re probably wondering … </h2>

  <h2 id="whatIsGo">
    <i>What is a </i>
    <b>go-show</b>
    <i>?</i>
  </h2>

  <p id="goShowExplanation">
    Do you crave a captivating podcast? 
    Do you need some beautiful video in your life? 
    If so, you’re in luck! 
    Packaged in a digital app for mobile devices, 
    a new form known as the go-show combines videos 
    and podcasts to tell one fascinating story. 
  </p>

  <h2 id="whatIsFire">
    <i> What is </i>
    <b id="fireBones">Fire Bones</b>
    <i> About? </i>
  </h2>

  <p id="goShowExplanation">
      Amra Boustani, a Lebanese-American agri pilot who moonlights as a Pentecostal preacher, has mysteriously disappeared on a ferry flight to the Middle East. Folks in her hometown are left with heartbreak and confusion. 

      A year later, a poet and a filmmaker from Dallas named Greg and Bart visit the Delta and get swept up in the mystery surrounding Amra’s disappearance. They discover that a local impresario has bought Amra’s old church, The Fire Bones Tabernacle, and converted it into an experimental-poetry salon. Greg and Bart get to know the colorful crew that hangs out there: a bunch of artists from the Delta countryside who finally have a place to party and collaborate on their crazy art. The Fire Bones scene is fractured by hurtful rumors, political polarization, and lingering anxieties about Amra’s disappearance, but a breakthrough seems possible when a boy YouTuber in Lebanon claims he knows what happened to Amra. 
      
    </p>

</div>
