.oval {
    width: 27px;
    height: 30vh;
    background-color: rgba(0, 0, 0,.8);
    opacity: 1;
    border-radius: 9999px;
    position: fixed;
    top: 30%;;
}

.circle{
    margin-top: 5vh;
    margin-left: 1.5px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border:2px solid;  
    border-color: gray;
    border-radius: 50%;
}

.fill {
    background-color: white;
}
