* {box-sizing: border-box;}


.logo{
    
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    z-index: 99;
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}




@media screen and (max-width: 580px) {

}