@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');

audio{
  margin-left: auto;
  margin-right: auto;
}
.container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: -500px;
  }
  
.container .listener {
    width: var(--container-listener-width); /*responsive value tag*/
    height: auto;
    margin-left: var(--container-listener-margin-left); /*responsive value tag*/
    margin-top: var(--container-listener-margin-top); 
  }
  

  .pulse {
    position:absolute;
    text-align: center;
    top: var(--pulse-listener-top); 
    left: var(--pulse-listener-left); 
    width: var(--pulse-listener-width); 
    height: var(--pulse-listener-height); 
    border-radius: 50%;
    background: #c6636c;
    opacity:.6;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 165, 173, 0.712);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
    background: #c6636c;
    opacity:.8;
    
  }

  #drawnArrow{
    position:absolute;
    top: var(--listener-arrow-top); 
    width: var(--listener-arrow-width); 
    left: var(--listener-arrow-left); 
    -moz-transform: rotate(8deg) ;
    -o-transform: rotate(8deg);
    -webkit-transform: rotate(8deg) ;
    transform:rotate(8deg) ;
}

.listenerText{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    position:absolute;
    cursor: pointer;
    font-size:var(--listener-text-font-sz);
    top: var( --listener-text-top); 
    left: var( --listener-text-left); 
    -ms-transform: skewY(-20deg) skewX(10deg) rotate(12deg) ; 
    -webkit-transform: skewY(-20deg) skewX(10deg) rotate(12deg) ; 
    transform: skewY(-20deg) skewX(10deg) rotate(12deg) ; 
  }

  .listenTextMobile{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    cursor: pointer;
    width:50%;
    font-size:var(--watcher-text-font-sz);
    top: var( --watcher-text-top); 
    left: var( --watcher-text-left); 
    -ms-transform: skewY(-27deg) skewX(10deg) rotate(29deg) ; 
    -webkit-transform: skewY(-27deg) skewX(10deg) rotate(29deg) ; 
    transform: skewY(-27deg) skewX(10deg) rotate(29deg) ; 
  }
  
  
  h2:hover {
    color: #c6636c
  } 



  #audioModal{
      padding-right:0px !important;
  }

    
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 165, 173, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
    }
  }
  @keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
      }
      70% {
          -webkit-box-shadow: 0 0 0 90px rgba(255, 165, 173, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
      }
  }


  .containerMobile {
    width: 200px;
    height: 100%;
    margin: 0 auto 0;
  }
  
  .pulse-button {
  
    position: relative;
    width: 200px;
    height: 200px;
    border: none;
    box-shadow: 0 0 0 0 #c6636c;
    border-radius: 50%;
    background-color: black;
    background-image: url(https://s3-us-west-1.amazonaws.com/firebones-lz/listenerScan.png);
    background-size: 140% 170%;
    background-position: 46% 54%;
  
  
    cursor: pointer;
    -webkit-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  .pulse-button:hover 
  {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  

  @media only screen  and (min-width: 580px){
      
    .listenerMobile{
        display:none;
    }

  }

  @media only screen and (max-width: 579px) {
    .container{
        display:none;
    }
  }

  
