@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');

#videoSample{
    position:relative;
}

#drawnArrow{
    position:absolute;
    width:15vw;
    margin-top: -36%;
    margin-left: 30%;
    -moz-transform: rotate(-20deg) scaleX(-1);
    -o-transform: rotate(-20deg) scaleX(-1);
    -webkit-transform: rotate(-20deg) scaleX(-1);
    transform:rotate(10deg);
}

#listenerImage{
    position:relative;
    margin-left:35%;
    margin-top:-29%;
}

.pulse {
    position:absolute;
    margin-top: -39.3%;
    margin-left: 48.5%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #c6636c;
    opacity:.6;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 165, 173, 0.712);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
    background: #c6636c;
    opacity:.8;
    
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 165, 173, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
    }
  }
  @keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
      }
      70% {
          -webkit-box-shadow: 0 0 0 90px rgba(255, 165, 173, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
      }
  }


  h1{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    position:absolute;
    margin-top: -45%;
    margin-left: 21.5%;
    font-size:120px;
    -ms-transform: skewY(-5deg) skewX(10deg) rotate(-3deg) ; /* IE 9 */
    -webkit-transform: skewY(-5deg) skewX(10deg) rotate(-3deg) ;/* Safari */
    transform: skewY(-5deg) skewX(10deg) rotate(-3deg) ; /* Standard syntax */
  }

  h1:hover {
    color: #c6636c
  }