


    <!-- Modal -->


      <div class="container" id="audioSection">
        <img class="listener" src="https://s3-us-west-1.amazonaws.com/firebones-lz/listener+scan+(transparentbg).png" alt="Snow" ngsReveal>
        <span class="pulse" data-toggle="modal" data-target="#audioModal" ngsReveal></span>
        <img id="drawnArrow" src="https://s3-us-west-1.amazonaws.com/firebones-lz/drawnArrow.png">
        <h2 class="listenerText" data-toggle="modal" data-target="#audioModal">Listen</h2>
      
      </div>

      <div class="listenerMobile"  data-toggle="modal"  data-target="#audioModal" align="center" style="margin-top:200px;margin-bottom:200px;">

        <h2 class="listenTextMobile" data-toggle="modal" data-target="#audioModal" style="margin-bottom:30px;">Listen</h2>
        <div class="containerMobile" ngsReveal>
            <button class="pulse-button"></button>
        </div>
      </div>
      
      
      
      
      <div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (click)="stopAudio()">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: transparent; border-color: transparent;">
    
            <audio controls id="audio-file" >
              <source src="https://s3-us-west-1.amazonaws.com/firebones-lz/GO+BODY+WEB+dialoge+only+.wav" type="audio/wav">
            </audio>
    
          </div>
        </div>
      </div>
    
      
    
  
  
  
  