


<div id="audioSample">




    <div id="listenerImage">
        <img class="av-image-responsive" src="https://s3-us-west-1.amazonaws.com/firebones-lz/listener+scan+(transparentbg).png">
      </div> 
  
    <span data-toggle="modal" data-target="#audioModal" class="pulse"></span>
  
     
    <img id="drawnArrow" src="https://s3-us-west-1.amazonaws.com/firebones-lz/drawnArrow.png">
  
  
    <h1 data-toggle="modal" data-target="#audioModal">Listen</h1>
    
  
  </div>


    <!-- Modal -->
    <div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
    
            <h2>AUDIO GOES HERE</h2>
    
          </div>
        </div>
      </div>
    
    
    
  
  
  
  