@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');

.container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: -500px;
  }
  
  .container .listener {
    width: var(--containter-listener-width); /*responsive value tag*/
    height: auto;
    margin-left: var(--container-listener-margin-left); /*responsive value tag*/
    margin-top: var(--container-listener-margin-top); /*responsive value tag*/
  }
  

  .pulse {
    position:absolute;
    text-align: center;
    top: var(--pulse-listener-top); 
    left: var(--pulse-listener-left); 
    width: var(--pulse-listener-width); 
    height: var(--pulse-listener-height); 
    border-radius: 50%;
    background: #c6636c;
    opacity:.6;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 165, 173, 0.712);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
    background: #c6636c;
    opacity:.8;
    
  }

  #drawnArrow{
    position:absolute;
    top: var(--listener-arrow-top); 
    width: var(--listener-arrow-width); 
    left: var(--listener-arrow-left); 
    -moz-transform: rotate(-19deg) scaleX(-1);
    -o-transform: rotate(-19deg) scaleX(-1);
    -webkit-transform: rotate(-19deg) scaleX(-1);
    transform:rotate(-19deg) scaleX(-1);
}

.listenerText{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    position:absolute;
    cursor: pointer;
    font-size:var(--listener-text-font-sz);
    top: var( --listener-text-top); 
    left: var( --listener-text-left); 
    -ms-transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; 
    -webkit-transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; 
    transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; 
  }
  
  h2:hover {
    color: #c6636c
  } */



  #audioModal{
      padding-right:0px !important;
  }

    
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 165, 173, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
    }
  }
  @keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
      }
      70% {
          -webkit-box-shadow: 0 0 0 90px rgba(255, 165, 173, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
      }
  }

