<div class="container-fluid text-center">
  
  <!-- <div class="page-header">
    <h1>Responsive, fluid-width YouTube video</h1>
  </div>
  
  <div class="panel">
    <div class="panel-body">
      <p>The video has a max-width of 1920px (the width of a full-HD video), after that it is centered.</p>
      <p>The video always maintains its 16:9 aspect ratio, regardless of screen size.</p>
    </div>
  </div> -->

  <div class="video-wrap">
  
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HaWjwKhLu2g?rel=0&amp;controls=1&amp&amp;showinfo=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe>
  
  </div>
  
</div>