@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700,700i');



#whatIsFireBones {
    position: relative;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin-top:var(--about-2-margin-top);
  }

#whatIsFire {
    display: inline-block;
    font-weight: 400;
    font-size: var(--about-2-header-sz);
  }
  
  
  #goShowExplanation {
    margin-top: var(--about-2-text-margin-top);
    display: inline-block;
    font-size: var(--about-2-text-sz);
    text-align: left;
    text-indent: 4%;
  }
  
  #fireBones {
    font-weight: 900;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -280px;;
    visibility: hidden;
}

@media only screen and (max-width: 579px) {
    a.anchor {
        top: -200px;
    }

}