<div id="subscribe">

  <form *ngIf="!formSuccess" (ngSubmit)="subscribe()" #emailForm="ngForm">
    <div class="form-group field">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" name="name" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Your email" [(ngModel)]="email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" [disabled]="(!emailForm.form.valid || formSubmitted)" class="btn btn-primary">Submit</button>
  </form>


  <div *ngIf="formSuccess" class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">Your message has been sent!</p>
    </div>
  </div>

</div>
