<div id="subscribe">
  <h1>Emailing List</h1>
  <h2>Subscribe to the <b class="firebones">Firebones</b> emailing list for updates!</h2>

  <form *ngIf="!formSuccess" (ngSubmit)="subscribe()" #emailForm="ngForm">
    <div class="form-group field">

        <div class="input-group">
            <input type="email" name="name" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter your email" [(ngModel)]="email" required>
            <span class="input-group-btn">
                <button type="submit" id="submitButton" class="btn btn-primary">Subscribe!</button>
                <!-- <button type="submit" id="submitButton" [disabled]="(!emailForm.form.valid || formSubmitted)" class="btn btn-primary">Subscribe!</button> -->

            </span>
         </div>


    </div>
    
  </form>


  <div *ngIf="formSuccess">
    <div class="container">
      <p class="lead">Youv'e subscribed!</p>
    </div>
  </div>

</div>
