@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700,700i');

#subscribe {
    position: relative;
    margin-right: var(--margin-right);
    margin-left: var(--margin-left);
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    margin-bottom: var(--title-margin-bot);
    text-align: center;
    font-size: var(--subscribe-contact-h1);
    font-style: italic;
    -ms-transform: skewY(-20deg) skewX(10deg);
    /* IE 9 */
    -webkit-transform: skewY(-20deg) skewX(10deg);
    /* Safari */
    transform: skewY(-2deg) skewX(5deg) rotate(2deg);
    /* Standard syntax */
}

h2 {
    margin-bottom: var(--title-margin-bot);
    text-align: center;
    font-size: var(--subscribe-contact-h2);
    margin-left: var(--email-margin);
    margin-right: var(--email-margin);




}

.firebones {
    font-weight: 700;
}

.btn-primary {
    /* margin-left:20px; */
    color: #fff;
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0)
}

.btn-primary:hover {
    /* margin-left:20px; */
    color: black;
    background-color: rgb(255, 255, 255);
    border-color: black;
}

.btn-primary:active:focus {
    /* margin-left:20px; */
    color: black;
    background-color: rgb(246, 224, 191);
    border-color: black;
    outline: none !important;
    box-shadow: none;
}

button:active:focus {
    border-color: black;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 105, 105, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 105, 105, 0.6);
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}


input:focus {
    border-color: black;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 105, 105, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 105, 105, 0.6);
}


  


.container {
    text-align: center;
    transition: .5s ease-in;
}

.form-control {
    font-size: var(--subscribe-contact-p)
}




@media only screen and (max-width: 579px) {


    }