<div id="contact">


  <h1>Contact Us</h1>
  <h2>Message the <b class="firebones">Fire Bones</b> team for any information.</h2>

  <form *ngIf="!formSuccess" (ngSubmit)="sendEmail()" #emailForm="ngForm">

    <div class="container-fluid">
      <div class="input-group row align-items-start">
        <div class="col-lg-6 col-sm-12 mt-3">
          <input type="email" name="email" class="form-control input" id="inputEmail" aria-describedby="emailHelp"
            placeholder="Enter your email" [(ngModel)]="email" required>
          <small class="form-error" *ngIf="!validEmail && email.length > 0">Please enter a valid email address</small>
        </div>
        <div class="col-lg-6 col-sm-12 mt-3">
          <input type="text" name="name" class="form-control input" id="inputName" placeholder="Enter your name"
            [(ngModel)]="name" required>
          <small class="form-error" *ngIf="!validName && name.length > 0">Please enter a valid name</small>
        </div>

      </div>


      <div class="form-group field row">
        <div class="col mt-3" id="inputMessage">
          <textarea class="form-control input" name="message" rows="3" placeholder="Send us a message"
            [(ngModel)]="message" required></textarea>
            <small class="form-error" *ngIf="!validMessage && message.length > 0">Please enter a valid message</small>
        </div>
      </div>
      <div class="row">
        <button type="submit" id="contactSubmit" class="btn btn-primary" [disabled]="(!validName || !validEmail || !validMessage || formSubmitted)">Submit</button>
      </div>
    </div>


  </form>


  <div *ngIf="formSuccess">
    <div class="container">
      <p class="lead">Your message was sent!</p>
    </div>
  </div>

</div>
