<form (ngSubmit)="sendEmail()">
    <div class="form-group field">
        <label for="exampleInputEmail1">Email</label>
        <input type="email"  name="name" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email" [(ngModel)]="name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group field">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" name="email" class="form-control input" id="exampleInputPassword1" placeholder="Your name" [(ngModel)]="email">
    </div>
    <div class="form-group field">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control input" name="message" id="exampleFormControlTextarea1" rows="3" placeholder="Shoot us a message!" [(ngModel)]="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

