/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://s3-us-west-1.amazonaws.com/firebones-lz/paperPattern.png");
  margin-left: 0;
  padding-left: 0;
}

.main {
  margin-left: 0px;
}

.av-image-responsive {
  height: auto;
  width: var(--av-image);
}

html {
  scroll-behavior: smooth;
}

:root{
  --eye-pulse-color:#c6636c;
  --pulse-border-radius:50%;
}


.form-error{
  color:red;
  padding-left: 12px;
}


/* mobile variables */
@media only screen and (max-width: 740px) {
  :root {

    /* ProgressBar */
    --nav-margin-left: -25px;
    --title-margin-bot: 2vh;

    /* StickyLogo Component */
    --logo-width: 14vw;
    --nav-font-sz: 38px;
    --subscribe-contact-h1: 50px;
    --subscribe-contact-h2: 30px;
  }

}

/* tablet variables */
@media only screen and (min-width: 741px) and (max-width: 1100px) {

  :root {


    /* ProgressBar */
    --nav-margin-left: -5px;

    /* StickyLogo Component */
    --logo-width: 25vw;
    --nav-font-sz: 72px;
    --subscribe-contact-h1: 68px;
    --subscribe-contact-h2: 2em;
  }

}

/* desktop variables */
@media only screen and (min-width: 1101px) {

  :root {



    /* ProgressBar */
    --nav-margin-left: -5px;
    --title-margin-bot: 50px; 

    /* StickyLogo Component */
    --logo-width: 18vw;
    --nav-font-sz: 72px;
    --subscribe-contact-h1: 68px;
    --subscribe-contact-h2: 2em;
  }

}


/**** NEW GLOBAL STYLES START *****/

@media only screen and (min-width: 1600px) {

  :root {

    --margin-left: 23%;
    --margin-right: 23%;

    /*About Styles */
    --about-section-margin-top:21.5%;
    --about-h1-font-sz: 50px;

    --about-probablywondering-whatisgo-whatisfire-font-sz: 35px;
    --probably-wondering-padding-top:2%;

    --about-paragraph-padding-top: 4%;
    --about-paragraph-font-sz: 22px;

    --about-part-2-margin-top:21.5%;
    
    /*About Styles 2*/

    --about-2-margin-top:18%;
    --about-2-header-sz:50px;
    
    --about-2-text-sz:20px;
    --about-2-text-margin-top:3%;



    /*Video Components */
    --container-watcher-width: 230%;
    --container-watcher-margin-left:-130%;
    --container-watcher-arrow-width: 230%;
    --container-watcher-arrow-margin-left:-140%;
    --pulse-watcher-top:50.8%;
    --pulse-watcher-left:21%;
    --pulse-watcher-width:32px;
    --pulse-watcher-height:32px;
    --watcher-arrow-width:50%;
    --watcher-arrow-top:52%;
    --watcher-arrow-left:49%;
    --watcher-text-font-sz:150px;
    --watcher-text-top:39%;
    --watcher-text-left:75%;

    --container-listener-width: 230%;
    --container-listener-margin-left:0%;

    --pulse-listener-top:46.8%;
    --pulse-listener-left:53.4%;
    --pulse-listener-width:89px;
    --pulse-listener-height:89px;

    --listener-arrow-width:50%;
    --listener-arrow-top:52%;
    --listener-arrow-left:-7%;

    --listener-text-font-sz:150px;
    --listener-text-top:40%;
    --listener-text-left:-40%;


    

  }

}


/* desktop variables */
@media only screen and (min-width: 1100px) and (max-width: 1599px) {

  :root {

    --margin-left: 20%;
    --margin-right: 20%;

    /*About Styles */
    --about-section-margin-top:370px;
    --about-h1-font-sz: 43px;

    --about-probablywondering-whatisgo-whatisfire-font-sz: 30px;
    --probably-wondering-padding-top:2%;

    --about-paragraph-padding-top: 4%;
    --about-paragraph-font-sz: 20px;


        /*About Styles 2*/
        --about-2-margin-top:20%;
        --about-2-header-sz:50px;
        
        --about-2-text-sz:20px;
        --about-2-text-margin-top:3%;
    

    /*Video Components */
    --container-watcher-width: 200%;
    --container-watcher-margin-left:-100%;
    --pulse-watcher-top:50.8%;
    --pulse-watcher-left:31%;
    --pulse-watcher-width:28px;
    --pulse-watcher-height:28px;
    --watcher-arrow-width:50%;
    --watcher-arrow-top:52%;
    --watcher-arrow-left:50%;
    --watcher-text-font-sz:150px;
    --watcher-text-top:38%;
    --watcher-text-left:67%;

    --container-listener-width: 200%;
    --container-listener-margin-left:0%;

    --pulse-listener-top:47.1%;
    --pulse-listener-left:46.5%;
    --pulse-listener-width:79px;
    --pulse-listener-height:79px;

    --listener-arrow-width:50%;
    --listener-arrow-top:52%;
    --listener-arrow-left:-7%;

    --listener-text-font-sz:150px;
    --listener-text-top:40%;
    --listener-text-left:-40%;

  }

}


/* desktop variables */
@media only screen and (min-width: 901px) and (max-width: 1099px) {

  :root {

    --margin-left: 17%;
    --margin-right: 17%;

    /*About Styles */
    --about-section-margin-top:370px;
    --about-h1-font-sz: 43px;

    --about-probablywondering-whatisgo-whatisfire-font-sz: 30px;
    --probably-wondering-padding-top:2%;

    --about-paragraph-padding-top: 4%;
    --about-paragraph-font-sz: 20px;


      /*About Styles 2*/
      --about-2-margin-top:25%;
      --about-2-header-sz:50px;
      
      --about-2-text-sz:20px;
      --about-2-text-margin-top:3%;
  

    /*Video Components */
    --container-watcher-width: 180%;
    --container-watcher-margin-left:-80%;

    --pulse-watcher-top:50.8%;
    --pulse-watcher-left:38%;
    --pulse-watcher-width:25px;
    --pulse-watcher-height:25px;

    --watcher-arrow-width:40%;
    --watcher-arrow-top:52%;
    --watcher-arrow-left:58%;

    --watcher-text-font-sz:115px;
    --watcher-text-top:38%;
    --watcher-text-left:69%;


    --container-listener-width: 180%;
    --container-listener-margin-left:0%;

    --pulse-listener-top:47.1%;
    --pulse-listener-left:42.2%;
    --pulse-listener-width:67px;
    --pulse-listener-height:67px;

    --listener-arrow-width:40%;
    --listener-arrow-top:52%;
    --listener-arrow-left:-7%;

    --listener-text-font-sz:115px;
    --listener-text-top:40%;
    --listener-text-left:-25%;

    



  }

}

@media only screen  and (min-width: 580px) and (max-width: 900px) {

  :root {

    --margin-left: 10%;
    --margin-right: 10%;


    /*About Styles */
    --about-section-margin-top:295px;
    --about-h1-font-sz: 34px;

    --about-probablywondering-whatisgo-whatisfire-font-sz: 28px;
    --probably-wondering-padding-top:2%;

    --about-paragraph-padding-top: 4%;
    --about-paragraph-font-sz: 20px;

    /*About Styles 2*/

    --about-2-margin-top:50%;
    --about-2-header-sz:43px;
    
    --about-2-text-sz:20px;
    --about-2-text-margin-top:3%;
        

    /*Video Components */
    --container-watcher-width: 109%;
    --container-watcher-margin-left:-27%;
    
    --pulse-watcher-top:50.8%;
    --pulse-watcher-left:44%;
    --pulse-watcher-width:15px;
    --pulse-watcher-height:15px;

    --watcher-arrow-width:28%;
    --watcher-arrow-top:52%;
    --watcher-arrow-left:58%;

    --watcher-text-font-sz:72px;
    --watcher-text-top:38%;
    --watcher-text-left:74%;


    --container-listener-width: 109%;
    --container-listener-margin-left:32%;
    --container-listener-margin-top:50%;

    --pulse-listener-top:61%;
    --pulse-listener-left:56.7%;
    --pulse-listener-width:45px;
    --pulse-listener-height:45px;

    --listener-arrow-width:28%;
    --listener-arrow-top:64%;
    --listener-arrow-left:22%;

    --listener-text-font-sz:72px;
    --listener-text-top:54%;
    --listener-text-left:4%;

  }

}

@media only screen and (max-width: 579px) {

  :root {

    --margin-left: 5%;
    --margin-right: 5%;

    --about-section-margin-top:70%;
    --about-h1-font-sz: 24px;

    --about-probablywondering-whatisgo-whatisfire-font-sz: 18px;
    --probably-wondering-padding-top:2%;

    --about-paragraph-padding-top: 4%;
    --about-paragraph-font-sz: 16px;

    --about-2-margin-top:100%;
    --about-2-header-sz:24px;
    
    --about-2-text-sz:16px;
    --about-2-text-margin-top:3%;


    /*Video Components */
    --container-watcher-width: 100;
    --container-watcher-margin-left:0;
    --container-watcher-margin-top:30%;

    --pulse-watcher-top:31%;
    --pulse-watcher-left:27%;
    --pulse-watcher-width:200px;
    --pulse-watcher-height:200px;

    --watcher-arrow-width:15%;
    --watcher-arrow-top:52%;
    --watcher-arrow-left:58%;

    --watcher-text-font-sz:80px;
    --watcher-text-top:6%;
    --watcher-text-left:28%;

    --eye-pulse-color:#c6636b00;
    --pulse-border-radius:80%;


    --container-listener-width: 100%;
    --container-listener-margin-left:0%;
    --container-listener-margin-top:120%;

    --pulse-listener-top:60.5%;
    --pulse-listener-left:59%;
    --pulse-listener-width:45px;
    --pulse-listener-height:45px;

    --listener-arrow-width:50%;
    --listener-arrow-top:52%;
    --listener-arrow-left:-7%;
    
    --listener-text-font-sz:150px;
    --listener-text-top:40%;
    --listener-text-left:-40%;

    --desktop-display-none:none;
    --width-50:50%;




  }

}



/**** NEW GLOBAL STYLES END *****/



/* Fade in/out animations classes and keyframes */
.hide {
  opacity: 0;
}

.fadeOut {
  opacity: 0;
  animation: FadeOut 1s ease-in-out;
}

.fadeIn {
  opacity: 1;
  animation: FadeIn 1s ease-in-out;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    height: initial;
  }

  100% {
    opacity: 1;
    height: initial;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
    height: initial;
  }

  99% {
    opacity: 0;
    height: initial;
  }

  100% {
    height: 0;
    opacity: 0;
    height: 0;
  }
}

/* Spinner Loader */
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #676470 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #dd4142 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #702625 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #df6480 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #fef93a none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #6092bf none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: #dab885 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #513f7c none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}
