/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://s3-us-west-1.amazonaws.com/firebones-lz/paperPattern.png");
  margin-left: 0;
  padding-left: 0;
}

.main {
  margin-left: 0px;
}

.av-image-responsive {
  height: auto;
  width: var(--av-image);
}

html {
  scroll-behavior: smooth;
}

/* mobile variables */
@media only screen and (max-width: 740px) {
  :root {
    --margin-left: 10%;
    --margin-right: 10%;
    --nav-margin-left: -25px;
    --title-margin-bot: 2vh;
    --av-image: 80vw;
    --audio-dot-ml: 52%;
    --audio-dot-mt: -55%;
    --audio-dot-w: 45px;
    --listen-mt: -64%;
    --listen-arrow-mt: -50%;
    --listen-arrow-ml: 36%;
    --video-dot-mt: -55%;
    --video-dot-ml: 56.7%;
    --watch-arrow-mt: -52%;
    --watch-arrow-ml: 65%;
    --watch-mt: -67%;
    --av-font-sz: 14vw;
    --logo-width: 14vw;
    --nav-font-sz: 38px;
  }

}

/* tablet variables */
@media only screen and (min-width: 741px) and (max-width: 1100px) {

  :root {
    --margin-left: 20%;
    --margin-right: 20%;
    --av-image: 60vw;
    --audio-dot-ml: 48.5%;
    --audio-dot-mt: -40.3%;
    --audio-dot-w: 50px;
    --listen-mt: -47%;
    --listen-arrow-mt: -36%;
    --listen-arrow-ml: 30%;
    --video-dot-mt: -41%;
    --video-dot-ml: 44%;
    --watch-arrow-mt: -39%;
    --watch-arrow-ml: 52%;
    --watch-mt: -50%;
    --av-font-sz: 12vw;
    --logo-width: 25vw;
    --nav-font-sz: 72px;
  }

}

/* desktop variables */
@media only screen and (min-width: 1101px) {

  :root {
    --margin-left: 23%;
    --margin-right: 23%;
    --nav-margin-left: -5px;
    --title-margin-bot: 50px;
    --av-image: 60vw;
    --audio-dot-ml: 48.5%;
    --audio-dot-mt: -39.3%;
    --audio-dot-w: 90px;
    --listen-mt: -45%;
    --listen-arrow-mt: -36%;
    --listen-arrow-ml: 30%;
    --video-dot-mt: -39.1%;
    --video-dot-ml: 44.14%;
    --watch-arrow-mt: -39%;
    --watch-arrow-ml: 52%;
    --watch-mt: -48.5%;
    --av-font-sz: 120px;
    --logo-width: 18vw;
    --nav-font-sz: 72px;
  }

}


/* Fade in/out animations classes and keyframes */
.hide {
  opacity: 0;
}

.fadeOut {
  opacity: 0;
  animation: FadeOut 1s ease-in-out;
}

.fadeIn {
  opacity: 1;
  animation: FadeIn 1s ease-in-out;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    height: initial;
  }

  100% {
    opacity: 1;
    height: initial;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
    height: initial;
  }

  99% {
    opacity: 0;
    height: initial;
  }

  100% {
    height: 0;
    opacity: 0;
    height: 0;
  }
}

/* Spinner Loader */
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #676470 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #dd4142 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #702625 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #df6480 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #fef93a none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #6092bf none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: #dab885 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #513f7c none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}
