@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');

iframe{
  display: inline-block;
  text-align: center;
  
}
  .container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: -500px;

    
  }
  
  .container .watcher {
    width: var(--container-watcher-width); /*responsive value tag*/
    height: auto;
    margin-left: var(--container-watcher-margin-left); /*responsive value tag*/
  }
  

  .container .pulse {
    position:absolute;
    text-align: center;
    top: var(--pulse-watcher-top); 
    left: var(--pulse-watcher-left); 
    width: var(--pulse-watcher-width); 
    height: var(--pulse-watcher-height); 
    border-radius: 50%;
    background: var(--eye-pulse-color); 
    opacity: 0.6 !important; /* Standard compliant browsers */
    -moz-opacity: 0.6; /* Firefox and Mozilla browsers */
    -webkit-opacity: 0.60; /* WebKit browser e.g. Safari */
    filter: alpha(opacity=60); /* For IE8 and earlier */
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 165, 173, 0.712);
    -webkit-animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
    -o-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    background: #c6636c;
    opacity:.8;
    
  }

  #drawnArrow{
    position:absolute;
    top: var(--watcher-arrow-top); 
    width: var(--watcher-arrow-width); 
    left: var(--watcher-arrow-left); 
    -moz-transform: rotate(-19deg) scaleX(-1);
    -o-transform: rotate(-19deg) scaleX(-1);
    -webkit-transform: rotate(-19deg) scaleX(-1);
    transform:rotate(-19deg) scaleX(-1);
}

.watchText{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    position:absolute;
    cursor: pointer;
    font-size:var(--watcher-text-font-sz);
    top: var( --watcher-text-top); 
    left: var( --watcher-text-left); 
    -ms-transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; 
    -webkit-transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; 
    transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; 
  }

  .watchTextMobile{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    width:50%;
    cursor: pointer;
    font-size:var(--watcher-text-font-sz);
    top: var( --watcher-text-top); 
    left: var( --watcher-text-left); 
    -ms-transform: skewY(-27deg) skewX(10deg) rotate(29deg) ; 
    -webkit-transform: skewY(-27deg) skewX(10deg) rotate(29deg) ; 
    transform: skewY(-27deg) skewX(10deg) rotate(29deg) ; 
  }
  
  h2:hover {
    color: #c6636c
  } */



  #videoModal{
      padding-right:0px !important;
  }

    
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
    }
    70% {
        -webkit-box-shadow: 0 0 0 90px rgba(255, 165, 173, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
    }
  }
  @keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
      }
      70% {
          -webkit-box-shadow: 0 0 0 90px rgba(255, 165, 173, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
      }
  }


  .containerMobile {
    width: 200px;
    height: 100%;
    margin: 0 auto 0;
  }
  
  .pulse-button {
  
    position: relative;
    width: 200px;
    height: 200px;
    border: none;
    box-shadow: 0 0 0 0 #c6636c;
    border-radius: 50%;
    background-color: black;
    background-image: url(https://s3-us-west-1.amazonaws.com/firebones-lz/watcher%2Bscan.png);
    background-size:150% 180%;
    background-position:center;
  
  
    cursor: pointer;
    -webkit-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  .pulse-button:hover 
  {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}


  @media only screen  and (min-width: 580px) and (max-width: 900px) {

    .container {
      margin-top: -244px;
      
    }
  }
  

  @media only screen  and (min-width: 580px){
      
    .watcherMobile{
        display:none;
    }

  }

  @media only screen and (max-width: 579px) {
    .container{
        display:none;
        
    }
  }

