<!-- 

<div id="videoSample">




  <div id="watcherImage">
    <img src="https://s3-us-west-1.amazonaws.com/firebones-lz/watcher+scan+(transparent).png">
  </div>

  <span class="pulse" data-toggle="modal" data-target="#videoModal"></span>

   
  <img id="drawnArrow" src="https://s3-us-west-1.amazonaws.com/firebones-lz/drawnArrow.png">


  <h1 data-toggle="modal" data-target="#videoModal">Watch</h1>
  
</div>


  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <h2>VIDEO GOES HERE</h2>

      </div>
    </div>
  </div>


 -->



<div class="container">
  <img src="https://s3-us-west-1.amazonaws.com/firebones-lz/watcher+scan+(transparent).png" alt="Snow">
  <span class="pulse" data-toggle="modal" data-target="#videoModal"></span>
</div>


<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <h2>VIDEO GOES HERE</h2>

    </div>
  </div>
</div>
