<div class="container" id="videoSection">
  <img class="watcher" src="https://s3-us-west-1.amazonaws.com/firebones-lz/watcher+scan+(transparent).png" alt="Snow">
  <span class="pulse" data-toggle="modal" data-target="#videoModal"></span>
  <img id="drawnArrow" data-toggle="modal" data-target="#videoModal"
    src="https://s3-us-west-1.amazonaws.com/firebones-lz/drawnArrow.png">
  <h2 class="watchText" data-toggle="modal" data-target="#videoModal">Watch</h2>

</div>

<div class="watcherMobile" data-toggle="modal" data-target="#videoModal" align="center"
  style="margin-top:200px;margin-bottom:200px;">

  <h2 class="watchTextMobile" data-toggle="modal" data-target="#videoModal" style="margin-bottom:30px;">Watch</h2>
  <div class="containerMobile">
    <button class="pulse-button"></button>
  </div>
</div>








<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color:transparent;border-color: transparent;">

      <iframe  align="middle" width="853" height="480" class="d-none d-lg-block desktop-frame"
        src="https://www.youtube.com/embed/RXZvJCOd59U" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>

      <iframe align="middle" width="375" height="211"class="d-lg-none mobile-frame" src="https://www.youtube.com/embed/RXZvJCOd59U" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </div>
</div>
