@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');

#videoSample{
    position:relative;
}

#drawnArrow{
    position:absolute;
    width:15vw;
    margin-top: -39%;
    margin-left: var(--watch-arrow-ml);
    -moz-transform: rotate(-20deg) scaleX(-1);
    -o-transform: rotate(-20deg) scaleX(-1);
    -webkit-transform: rotate(-20deg) scaleX(-1);
    transform:rotate(-20deg) scaleX(-1);
}

#watcherImage{
    position:relative;
    margin-left:5%;
}

.pulse {
    position:absolute;
    /* margin-top: -39.1%; */
    margin-top: var(--video-dot-mt);
    margin-left: var(--video-dot-ml);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #c6636c;
    opacity:.6;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 165, 173, 0.712);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
    background: #c6636c;
    opacity:.8;
    
  }

  
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 165, 173, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
    }
  }
  @keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0.712);
      }
      70% {
          -webkit-box-shadow: 0 0 0 90px rgba(255, 165, 173, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(255, 165, 173, 0);
      }
  }


  h1{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    position:absolute;
    margin-top: var(--watch-mt);
    margin-left: 61%;
    cursor: pointer;
    font-size:var(--av-font-sz);
    -ms-transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; /* IE 9 */
    -webkit-transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; /* Safari */
    transform: skewY(-20deg) skewX(10deg) rotate(29deg) ; /* Standard syntax */
  }

  h1:hover {
    color: #c6636c
  }