@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700,700i');

   
#whatIsFireBones {
    position: relative;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin-top:15%;
    margin-left: 16%;
    margin-right: 16%;
}

.maskDiv{
    display: inline-block;
    width: 160px;
    padding-bottom: 8%;
  }

#whatIsFire {
    display:block;
    font-weight: 400;
    margin-bottom: 50px;
    font-size: var(--about-probablywondering-whatisgo-whatisfire-font-sz);
}


#goShowExplanation {
    margin-top: var(--about-2-text-margin-top);
    display: inline-block;
    font-size: var(--about-probablywondering-whatisgo-whatisfire-font-sz);
    text-align: left;
    text-indent: 4%;
}

@media only screen and (max-width: 1100px) {
    .maskDiv{
      width: 150px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .maskDiv{
      width: 100px;
    }
  
  }
  