<div id="whatIsFireBones">
    <div [@fadeIn]="state" class="maskDiv" >
        <img class="biplane" src="assets/amramask-04.svg">
    </div>
    <div [@fadeIn]="state" class="whatIsTextDiv">
        <h2 class="first" id="whatIsFire">
            <p>
              Do you crave a captivating podcast?
            </p>
          </h2>
      
          <h2 class="second" id="whatIsFire">
            <p>
              Do you need some beautiful video in your life?
            </p>
          </h2>
      
          <h2 class="third" id="whatIsFire">
            <p>
              If so, you’re in luck!
            </p>
          </h2>
    </div>
</div>